

p.spectrum, pre.spectrum {

    margin:0px;
    font-family:monospace;
    
    white-space: pre-wrap;
    display: block;
    border: none thin;
    border-color: #405075;
    background-color:#002b36;
    padding: 2px;
    margin-bottom:5px;

}

div.spectrum-toc {

    font-family:monospace;
    
    display: block;
    border: none thin;
    border-color: #405075;
    background-color:#002b36;
    padding: 2px;

}

ul.base1, ul.spectrum-toc {
color:#93a1a1;
}

.spectrum span {
    white-space: pre-wrap;
}

span.ww {background-color: #073642; } span.base01, span.eq-equ, span.z, span.sc, span.scx, span.ec, span.es, span.ez, span.atneq {color: #586e75; } span.base03, span.ww:not(:hover), span.txt:not(:hover), span.cm:not(:hover), span.pi:not(:hover) {background-color: #002b36; } span.base0, span.txt, span.cd {color: #839496; } span.base1, span.literal {color: #93a1a1; } span.yellow, span.op, span.type-op, span.if, span.higher, span.step, span.whitespace {color: #b58900; } span.orange, span.function {color: #cb4b16; } span.red, span.fname, span.tname {color: #dc322f; } span.magenta, span.vname, span.variable, span.external {color: #d33682; } span.violet, span.qname, span.type-name, span.unclosed, span.en, span.cl, span.href, span.tcall {color: #6c71c4; } span.blue, span.enxsl, span.clxsl, span.enx, span.filter, span.parenthesis, span.node {color: #268bd2; } span.cyan, span.atn, span.numeric, span.pi, span.dt, span.axis, span.context, span.bracedq {color: #2aa198; } span.green, span.cm, span.comment, span.av, span.type, span.node-type {color: #859900; }

a.solar {
    text-decoration:none;
}
