
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
p.spectrum, pre.spectrum {

    margin:0px;
    font-family:'Source Code Pro', Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 0.8em;
    white-space: pre-wrap;
    display: block;
    border: none thin;
    border-color: #405075;
    background-color:#ffffff;
    padding: 2px;
    margin-bottom:5px;

}

div.spectrum-toc {

    font-family:'Source Code Pro', Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 0.8em;
    display: block;
    border: none thin;
    border-color: #405075;
    background-color:#ffffff;
    padding: 2px;

}

ul.base1, ul.spectrum-toc {
color:#dd1144;
}

.spectrum span {
    white-space: pre-wrap;
}

span.ww {background-color: #ececec; } span.base01, span.eq-equ, span.z, span.sc, span.scx, span.ec, span.es, span.ez, span.atneq {color: #924F99; } span.base03, span.ww:not(:hover), span.txt:not(:hover), span.cm:not(:hover), span.pi:not(:hover) {background-color: #ffffff; } span.base0, span.txt, span.cd {color: #445588; } span.base1, span.literal {color: #dd1144; } span.yellow, span.op, span.type-op, span.if, span.higher, span.step, span.whitespace, span.quantifier {color: #1549b1; } span.orange, span.function, span.pname {color: #885d3b; } span.red, span.fname, span.tname, span.tcall {color: #DB7093; } span.magenta, span.vname, span.variable, span.external {color: #333333; } span.violet, span.qname, span.type-name, span.unclosed, span.en, span.cl, span.href {color: #990000; } span.blue, span.enxsl, span.clxsl, span.enx, span.filter, span.parenthesis, span.node {color: #445588; } span.cyan, span.atn, span.numeric, span.pi, span.dt, span.axis, span.context, span.bracedq {color: #008080; } span.green, span.cm, span.comment, span.av, span.type, span.node-type {color: #999988; }

a.solar {
    text-decoration:none;
}
