
p.spectrum {
    margin:0px;
    font-family: monospace;
    white-space: pre-wrap;
    display: block;
    border: none thin;
    border-color: #405075;
    background-color:#white;
padding: 2px;
margin-bottom:5px;
}

div.spectrum-toc {
    font-family: monospace;
    display: block;
    border: none thin;
    border-color: #405075;
    background-color: #white;
    padding: 2px;
}

ul.base1, ul.spectrum-toc {
    color:#586e75;
}

.spectrum span {
    white-space: pre-wrap;
}
/*
chosen theme background: light;

$base03:    #002b36; //background
$base02:    #073642; //highlighted-background
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5; //highlighted-background
$base3:     #fdf6e3; //background
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

/* solorized colors */
span.base03 {
color: #002b36;
}
span.base02 {
color: #073642;
}

/* hover-effect [start] */
span.base03, span.ww:not(:hover), span.txt:not(:hover), span.cm:not(:hover), span.pi:not(:hover)  {
background-color: white;
}
span.ww {
background-color: #fdf6e3;
}
/* hover-effect [end] */

span.base01, span.eq-equ, span.z, span.sc, span.scx, span.ec, span.es, span.ez, span.atneq {
color: #93a1a1;
}
span.base00 {
color: #657b83;
}
span.base0, span.txt, span.cd {
color: #839496;
}
span.base1, span.literal, span.av {
color:#586e75;
}
span.base2 {
    color: #eee8d5;
}
span.base3 {
    color: #fdf6e3;
}
span.yellow, span.op, span.type-op, span.if, span.higher, span.step {
    color: #b58900;
}
span.orange, span.type, span.node-type, span.function {
    color: #cb4b16;
}
span.red, span.fname, span.tname {
    color: #dc322f;
}
span.magenta, span.vname, span.variable, span.external {
    color: #d33682;
}
span.violet, span.qname, span.type-name, span.unclosed, span.en, span.cl, span.href, span.tcall {
    color: #6c71c4;
}
span.blue, span.enxsl, span.clxsl, span.enx, 
span.filter, span.parenthesis, span.node{
    color: #268bd2;
}
span.cyan, span.atn, span.numeric, span.pi, span.dt, span.axis, span.context {
    color: #2aa198;
}
span.green, span.cm, span.comment {
    color: #859900;
}
a.solar {
    text-decoration:none;
}
